<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accident Sim</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Car Crash DataBase Sim 🚙🔧💨</h1>

    <!--Adding Car-->

    <h2>Complete the Form to add a record!</h2>

    <form method="POST">
        <h3>User</h3>
        <label for="person_driver_id">Driver ID:</label>
        <input type="text" name="person_driver_id" required>
    
        <label for="person_name">Name:</label>
        <input type="text" name="person_name" required>
    
        <label for="person_address">Address:</label>
        <input type="text" name="person_address" required>
    
        <h3>Car</h3>
        <label for="car_license">Car License:</label>
        <input type="text" name="car_license" required>
    
        <label for="car_model">Car Model:</label>
        <input type="text" name="car_model" required>
    
        <label for="car_year">Car Year:</label>
        <input type="text" name="car_year" required>
    
        <h3>Accident</h3>
        <label for="accident_report_number">Report Number:</label>
        <input type="text" name="accident_report_number" required>
    
        <label for="accident_location">Location:</label>
        <input type="text" name="accident_location" required>
    
        <label for="accident_date">Date:</label>
        <input type="text" name="accident_date" required>
    
        <button type="submit" name="submit_all">Submit All</button>
    </form>
    
    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

    <h2>Database Display</h2>

    <h3>People</h3>
        <ul>
            {% for p in people %}
                <li>ID: {{ p[0] }}, Name: {{ p[1] }}, Address: {{ p[2] }}</li>
            {% endfor %}
        </ul>

        <h3>Cars</h3>
        <ul>
            {% for c in cars %}
                <li>License: {{ c[0] }}, Model: {{ c[1] }}, Year: {{ c[2] }}, Driver ID: {{ c[3] }}</li>
            {% endfor %}
        </ul>

        <h3>Accidents</h3>
        <ul>
            {% for a in accidents %}
                <li>Report #: {{ a[0] }}, Location: {{ a[1] }}, Date: {{ a[2] }}</li>
            {% endfor %}
        </ul>


</body>
</html>